body { 
    
    background-color : white; 
} 

div {

    background-color : black;
    height: auto;
    width: 400px;
    padding: 20px;
    margin: 150px auto;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 30px;    
    color: white;
    
}

.Calendar>tbody>tr>td>p {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 30px;    
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;

}        

.pastDay {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 25px;    
    color: lightgray;
}

.today {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 25px;    
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    font-size: 25px;    
    background-color: black;
    color: white;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.past-calendar{
    cursor: pointer;    
}

.next-calendar{
    cursor: pointer;    
}